$blue: rgb(200, 200, 255);

:host {
  display: block;
  font-family: helvetica, sans-serif;
  header {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
    background-color: $blue;
  }
  section {
    margin: 0.5rem;
  }
}
