<!-- 
This is a sample Polymer-based widget using ES6 and Sass with PostCSS
-->
<dom-module id="my-element">
    <!-- scoped CSS for this element -->
    <link rel="stylesheet" type="text/css" href="build/index.css">
    <template>
        <header class="header">{{headerTitle}}</header>
        <section class="content">{{content}}</section>
    </template>
    <script src="build/index.js"></script>
</dom-module>
